{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

{% if section.settings.textbox_opacity == "0" %}
{% assign tb_opacity = "00" %}
{% elsif section.settings.textbox_opacity == "10" %}
{% assign tb_opacity = "1A" %}
{% elsif section.settings.textbox_opacity == "20" %}
{% assign tb_opacity = "33" %}
{% elsif section.settings.textbox_opacity == "30" %}
{% assign tb_opacity = "4D" %}
{% elsif section.settings.textbox_opacity == "40" %}
{% assign tb_opacity = "66" %}
{% elsif section.settings.textbox_opacity == "50" %}
{% assign tb_opacity = "80" %}
{% elsif section.settings.textbox_opacity == "60" %}
{% assign tb_opacity = "99" %}
{% elsif section.settings.textbox_opacity == "70" %}
{% assign tb_opacity = "B3" %}
{% elsif section.settings.textbox_opacity == "80" %}
{% assign tb_opacity = "CC" %}
{% elsif section.settings.textbox_opacity == "90" %}
{% assign tb_opacity = "E6" %}
{% elsif section.settings.textbox_opacity == "100" %}
{% assign tb_opacity = "FF" %}
{% endif %}

<section class="text-cards section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %} my-{{ section.settings.margin }} gx-0">
    <div class="container">
        <div class="row justify-content-center gx-3 gx-lg-0">
            <div class="col-12 col-lg-{{ section.settings.container_size }}">
            <div class="container">
            <div class="row g-3">
            {% if section.settings.title != blank %}
            <h2 class="mb-4 text-{{ section.settings.text_color }} text-{{ section.settings.title_alignment }} {{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
            <div class="team-card-text my-3">{{ section.settings.text }}</div>
            {% endif %}
            {% for block in section['block_order'] %}
             <div class="col-12 col-lg-{{ section.settings.grid }} text-card text-{{ section.settings.cardtext_alignment }} text-{{ section.settings.text_color }}">
                 <div class="p-5 text-card-bg" style="background: {{ section.settings.textbox_color }}{{ tb_opacity }};">{% block %}</div>
             </div>
            {% endfor %}
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% styles %}
.section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

.text-cards .text-card-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: {{ section.settings.min_height }}px;
    }

.text-cards {
    padding: {{ section.settings.padding }} 0;
}

@media screen and (max-width: 576px) {
   .text-cards {
        padding: 30px 0;  
    }
}
{% endstyles %}

{% schema %}
{
    "name": "Side by Side Text Cards",
    "description": "Shows cards of text and button in a grid.",
    "max_blocks": 8,
    "settings": [
          {
            "type": "header",
            "content": "Section Settings"
          },
          {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "5",
            "options": [
            {
                "label": "Large",
                "value": "5"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "None",
                "value": "0"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "8",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "grid",
            "label": "Cards per Row",
            "default": "6",
            "options": [
            {
                "label": "2",
                "value": "6"
            },
            {
                "label": "3",
                "value": "4"
            },
            {
                "label": "4",
                "value": "3"
            }]
        },
          {
            "type": "select",
            "id": "padding",
            "label": "Padding",
            "default": "120px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image",
            "default": "placeholder.webp"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background1",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
           "type": "text",
           "id": "title",
           "default": "Lorem ipsum",
           "label": "Heading"
       },
       {
           "type": "richtext",
           "id": "text",
           "label": "Text"
       },
       {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {
                    "label": "H1",
                    "value": "h1"
                },
                {
                    "label": "H2",
                    "value": "h2"
                },
                {
                    "label": "H3",
                    "value": "h3"
                }
            ]
        },
        {
            "type": "select",
            "id": "title_alignment",
            "label": "Title Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }]
        },
        {
            "type": "header",
            "content": "Card Settings"
         },
         {
                "type": "range",
                "id": "min_height",
                "label": "Card Min Height",
                "default": 300,
                "min": 100,
                "max": 500,
                "step": 50
        },
        {
            "type": "color",
            "id": "textbox_color",
            "label": "Text Box Color"
        },
        {
                "type": "range",
                "id": "textbox_opacity",
                "label": "Textbox Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "select",
            "id": "cardtext_alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "text-card"
        }
    ]
}
{% endschema %}