{% if block.title != blank %}
<h3>{{ block.title }}</h3>
{% endif %}
{% if block.text != blank %}
<div class="mb-3">{{ block.text }}</div>
{% endif %}
{% if block.btn_label != blank %}
<a class="btn btn-{{ block.btn_color }} btn-{{ block.btn_size }}" tabindex="-1" role="button" href="{{ block.btn_link }}">
 {{ block.btn_label }}
</a>
{% endif %}

{% schema %}
    {
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Lorem Ipsum",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "text",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                "label": "Content"
            },
            {
           "type": "select",
           "id": "btn_size",
           "label": "Button Size",
           "default": "sm",
           "options": [
           {
               "label": "Small",
               "value": "sm"
           },
           {
               "label": "Large",
               "value": "lg"
           }]
       },
       {
           "type": "text",
           "id": "btn_label",
           "default": "Button Text",
           "label": "Button Label"
       },
       {
           "type": "text",
           "id": "btn_link",
           "label": "Button Link"
       },
       {
           "type": "select",
           "id": "btn_color",
           "label": "Button Type",
           "default": "link",
           "options": [
           {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
           {
               "label": "Link",
               "value": "link"
           }]
       }
        ]
    }
    {% endschema %}